body{cursor:url(https://cdn.jsdelivr.net/gh/wearehere8/pppppic@pg/free/Jkll8I.png),default;}
a{cursor:url(https://cdn.jsdelivr.net/gh/wearehere8/pppppic@pg/free/JkuClT.png),default;}
button{cursor:url(https://cdn.jsdelivr.net/gh/wearehere8/pppppic@pg/free/JkuClT.png),default;}
img{cursor:url(https://cdn.jsdelivr.net/gh/wearehere8/pppppic@pg/free/JkuClT.png),default;}
